
{{#if activeGame}}
  {{xo-board game=activeGame}}

  <button {{action "doCancelGame"}} {{bind-attr disabled=isProcessing}}>Cancel Game</button>

{{else}}
  
  <ul>
    {{#each game in pendingGames}}
      <li>{{game.created_at}} [{{game.status}}]</li>
    {{/each}}
  </ul>

  <button {{action "doNewGame"}} {{bind-attr disabled=isProcessing}}>New Game</button>
{{/if}}

{{outlet}}
